body {
    background-color:#ffb3b3;
    margin: 0;
}
h1
{
    font-size: 40px ;
}
h2
{
    font-size: 30px;
    margin: 0; 
}
.button a 
{
    
    text-decoration: none;
}
.button{
    background-color:wheat;
    display: block;
    text-align: center;
    font-size: 25px;
    margin-left: 65px;
    border-radius: 7px;
}
.row
{
 width:100%;
 display:flex;
 flex-wrap: wrap;
align-items: center;
 } 
 .col-4 {
    width:33.33%; 
 }  
 .side.button a ,#score
 {
     text-align: center;
     align-items: center;
 }

#score{
    
    display: inline-block;
    margin-right: 180px;
    font-size: 30px;
    color: black;
    
}
div{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;

}

footer,header 
{
  color :#00264d;
  width: 100%;
  font-size: 32px;
  background-color:#00264d;
  
}
header
{
    margin-bottom: 6px;
}
footer{
    margin-top: 25px;
}
